# list

In [1]:
lst = ["karthik",2,3.45,[5,6,7]]
lst

['karthik', 2, 3.45, [5, 6, 7]]

In [2]:
lst.append("me")
lst

['karthik', 2, 3.45, [5, 6, 7], 'me']

In [3]:
lst.clear()
lst

[]

In [4]:
lst = ["karthik",2,3.45,[5,6,7]]
nst = lst.copy()
nst

['karthik', 2, 3.45, [5, 6, 7]]

In [11]:
lst.count(2)

1

In [12]:
lst.reverse()
lst

[[5, 6, 7], 3.45, 2, 'karthik']

# Dictionary

In [13]:
dic = {"name" : "karthik" , "age":"20" , "number":"12345"}
dic

{'name': 'karthik', 'age': '20', 'number': '12345'}

In [16]:
dic.get('name')

'karthik'

In [18]:
dic["school"] = "KVR"
dic

{'name': 'karthik', 'age': '20', 'number': '12345', 'school': 'KVR'}

In [19]:
nic = dic.copy()
nic

{'name': 'karthik', 'age': '20', 'number': '12345', 'school': 'KVR'}

In [21]:
dic.popitem()
dic

{'name': 'karthik', 'age': '20', 'number': '12345'}

In [23]:
dic.pop("name")
dic

{'age': '20', 'number': '12345'}

In [28]:
d = {1 : "one" , 2 : "three"}
d1 = {2 : "two"}
d.update(d1)
d

{1: 'one', 2: 'two'}

# sets

In [30]:
st = {"karthik","me",1,2,2,4,6,2}
st

{1, 2, 4, 6, 'karthik', 'me'}

In [34]:
st.add("hi")
st

{1, 2, 4, 6, 'hi', 'karthik', 'me'}

In [36]:
ft = st.copy()
ft

{1, 2, 4, 6, 'hi', 'karthik', 'me'}

In [37]:
st.add(8)
st

{1, 2, 4, 6, 8, 'hi', 'karthik', 'me'}

In [38]:
st.issubset(ft)

False

In [40]:
d = {1,3,4,6,8,"mm"}
st.intersection(d)

{1, 4, 6, 8}

In [41]:
st.difference(d)

{2, 'hi', 'karthik', 'me'}

In [44]:
st.difference_update(d)
st

{2, 'hi', 'karthik', 'me'}

# tuple

In [45]:
tup = ("karthik","@","rajulapudi",2,3)
tup

('karthik', '@', 'rajulapudi', 2, 3)

In [50]:
tup.count(2)

1

In [48]:
tup.index('rajulapudi')

2

# Boolean

In [53]:
ab = 1
dg = 2
ab < dg

True

# String

In [54]:
strg = "karthik"
strg

'karthik'

In [60]:
strg.capitalize()

'Karthik'

In [66]:
st1 = "RVL"
st1.casefold()

'rvl'

In [81]:
srtn = "hello"
srtn1 = srtn.center(20,'#')
print(srtn1)

#######hello########

In [84]:
srtn.find("l")

2

In [85]:
dtr = "{} is two"
print(dtr.format("2"))

2 is two